<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="dependencyConfiguration" type="AdvancedDependencyContainer.Configurations.DependencyConfigurationSection, AdvancedDependencyContainer"/>
  </configSections>
  <dependencyConfiguration>
    <binds>
      <assembly provider="Database" >
        <add keyLocation="Interface" key="ICommandContext" valueLocation="Infrastructure" value="CommandContext"/>
        <add keyLocation="Interface" key="IAdapterContext" valueLocation="Infrastructure" value="AdapterContext"/>
        <add keyLocation="Interface" key="ISqlAdapterAccessor" valueLocation="Accessor" value="SqlAdapterAccessor"/>
        <add keyLocation="Interface" key="ISqlCommandAccessor" valueLocation="Accessor" value="SqlCommandAccessor"/>
      </assembly>
    </binds>
  </dependencyConfiguration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="DESString" value=""/>
    <add key="DESKey" value=""/>
    <!--服务基址，格式为IPv4-->
    <add key="baseAddress" value=""/>
    <!--服务使用的端口，务必于防火墙中允许此端口入栈-->
    <add key="port" value=""/>
    <!--服务可挂起的最大排队连接请求数-->
    <add key="listenBacklog" value="256"/>
    <!--打开连接的时间间隔，默认为1分钟，格式<00:00:00>-->
    <add key="openTimeout" value="00:01:00"/>
    <!--关闭连接的时间间隔，默认为1分钟，格式<00:00:00>-->
    <add key="closeTimeout" value="00:01:00"/>
    <!--完成写入操作的时间间隔，默认为1分钟，格式<00:00:00>-->
    <add key="sendTimeout" value="00:01:00"/>
    <!--连接在撤销之前保持活动状态的时间间隔，默认为1分钟，格式<00:00:00>-->
    <add key="receiveTimeout" value="00:01:00"/>
    <!--服务安全类型，类型：int，0:None, 1:Transport,2:Message,3:TransportWithMessageCredential-->
    <add key="securityMode" value="0"/>
    <!--TCP缓冲区池最大值，类型：int，以字节为单位-->
    <add key="maxBufferPoolSize" value="6553600"/>
    <!--用于存储消息的缓冲区最大值，类型：int，以字节为单位-->
    <add key="maxBufferSize" value="6553600"/>
    <!--接收消息的最大值，类型：int，以字节为单位-->
    <add key="maxReceivedMessageSize" value="6553600"/>
    <!--可挂起调度的最大连接数，类型：int，客户端配置应与此值保持一致-->
    <add key="maxConnections" value="200"/>
    <!--数据契约，最大数组长度，类型：int-->
    <add key="maxArrayLength" value="6553600"/>
    <!--数据契约，最大字符串长度，类型：int-->
    <add key="maxStringContentLength" value="6553600"/>
    <!--数据契约，最大字节数，类型：int-->
    <add key="maxBytesPerRead" value="6553600"/>
    <!--指定整个ServiceHost正在处理的最大消息数量，类型：int-->
    <add key="maxConcurrentCalls" value="65535"/>
    <!--指定服务一次可执行的InstanceContext对象的最大数量，类型：int-->
    <add key="maxConcurrentInstances" value="65535"/>
    <!--指定整个ServiceHost一次可接受的会话最大数量，类型：int-->
    <add key="maxConcurrentSessions" value="800"/>
    <!--序列化对象的最大数量，类型：int-->
    <add key="maxItemsInObjectGraph" value="6553600"/>
  </appSettings>
</configuration>