<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--自定义配置节，用于配置依赖注入组件的绑定-->
  <configSections>
    <section name ="dependencyComponentConfiguration" type="AdvancedDependencyContainer.Configurations.DependencyComponentAppConfiguration, AdvancedDependencyContainer"/>
  </configSections>
  <!--依赖注入配置节-->
  <dependencyComponentConfiguration>
    <dependency>
      <composition provider="Sequencer">
        <component>
          <contract name="ISequencerEntry" location="Sequencer.Interface" />
          <realizer name="SequencerEntry" location="Sequencer" />
        </component>
      </composition>
      <composition provider="Database">
        <component>
          <contract name="ICommandContext" location="Database.Interface" />
          <realizer name="CommandContext" location="Database.Infrastructure" />
        </component>
        <component>
          <contract name="IAdapterContext" location="Database.Interface"/>
          <realizer name="AdapterContext" location="Database.Infrastructure"/>
        </component>
        <component>
          <contract name="ISqlCommandAccessor" location="Database.Interface"/>
          <realizer name="SqlCommandAccessor" location="Database.Accessor"/>
        </component>
        <component>
          <contract name="ISqlAdapterAccessor" location="Database.Interface"/>
          <realizer name="SqlAdapterAccessor" location="Database.Accessor"/>
        </component>
      </composition>
    </dependency>
  </dependencyComponentConfiguration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="DESString" value="FF50E1525C650A586E0981980ED69935B92F4B36B964C87FB98189A605C704592ADF5312CB1EDED37336740A27F466D3C21E156E84275675F9CFBCF586AE0337A8C99EF1A72EA37228BB9F80D6D4F95A"/>
    <add key="DESKey" value="30E9AA65BA938F545A6CC1DB3027CED9"/>
    <add key="baseaddress" value="127.0.0.1"/>
    <add key="port" value="8000"/>
    <!--服务可挂起的最大排队连接请求数-->
    <add key="listenBacklog" value="256"/>
    <!--打开连接的时间间隔，默认为1分钟，格式<00:00:00>-->
    <add key="openTimeout" value="00:05:00"/>
    <!--关闭连接的时间间隔，默认为1分钟，格式<00:00:00>-->
    <add key="closeTimeout" value="00:05:00"/>
    <!--完成写入操作的时间间隔，默认为1分钟，格式<00:00:00>-->
    <add key="sendTimeout" value="00:05:00"/>
    <!--连接在撤销之前保持活动状态的时间间隔，默认为1分钟，格式<00:00:00>-->
    <add key="receiveTimeout" value="00:05:00"/>
    <!--服务安全类型，类型：int，0:None, 1:Transport,2:Message,3:TransportWithMessageCredential-->
    <add key="securityMode" value="0"/>
    <!--TCP缓冲区池最大值，类型：int，以字节为单位-->
    <add key="maxBufferPoolSize" value="6553600"/>
    <!--用于存储消息的缓冲区最大值，类型：int，以字节为单位-->
    <add key="maxBufferSize" value="6553600"/>
    <!--接收消息的最大值，类型：int，以字节为单位-->
    <add key="maxReceivedMessageSize" value="6553600"/>
    <!--可挂起调度的最大连接数，类型：int，客户端配置应与此值保持一致-->
    <add key="maxConnections" value="200"/>
    <!--数据契约，最大数组长度，类型：int-->
    <add key="maxArrayLength" value="6553600"/>
    <!--数据契约，最大字符串长度，类型：int-->
    <add key="maxStringContentLength" value="6553600"/>
    <!--数据契约，最大字节数，类型：int-->
    <add key="maxBytesPerRead" value="6553600"/>
    <!--指定整个ServiceHost正在处理的最大消息数量，类型：int-->
    <add key="maxConcurrentCalls" value="65535"/>
    <!--指定服务一次可执行的InstanceContext对象的最大数量，类型：int-->
    <add key="maxConcurrentInstances" value="65535"/>
    <!--指定整个ServiceHost一次可接受的会话最大数量，类型：int-->
    <add key="maxConcurrentSessions" value="800"/>
    <!--序列化对象的最大数量，类型：int-->
    <add key="maxItemsInObjectGraph" value="6553600"/>
  </appSettings>
</configuration>