<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="dependencyConfiguration" type="AdvancedDependencyContainer.Configurations.SectionGroup,AdvancedDependencyContainer.Configurations">
      <section name ="sections" type="AdvancedDependencyContainer.Configurations.DependencyConfigurationSection,AdvancedDependencyContainer.Configurations"/>
    </sectionGroup>
  </configSections>
  <dependencyConfiguration>
    <sections>
      <binds>
        <assembly name="a">
          <add key="b" value="c" />
        </assembly>
      </binds>
    </sections>
  </dependencyConfiguration>
</configuration>
